<h1>Create a New Figure</h1>
<form action="/figures" method="post">
  <label for="figure_name">Create a New Figure</label><br>
  <input type="text" name="figure[name]" id="figure_name"><br>
  <br>
  <label for="">Choose a Landmark</label><br>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%= landmark.name %><br>
  <% end %>  
  <br>
  <label for="new_landmark">Or Create a New Landmark</label><br>
  <input type="text" id="new_landmark" name="landmark[name]"><br>
  <label>And Its Year Completed</label><br>
  <input type="text" name="landmark[year_completed]">
  <br>
  <label for="title_name">Choose a Title</label><br>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %><br>
  <% end %> 
  <br>
  <label for="new_title">Or Create a New Title</label><br>
  <input type="text" id="new_title" name="title[name]"><br>
  <br>
  <input type="submit" value="Create New Figure">
</form>