<h1><%= @figure.name %></h1>
<h2>Titles</h2>
<ul>
<% @figure.titles.each do |title| %>
  <li><a href=""><%= title.name %></a></li>
<% end %>
</ul>

<h2>Landmarks</h2>
<ul>
<% @figure.landmarks.each do |landmark| %>
  <li><a href=""><%= landmark.name %> -- <%= landmark.year_completed %></a></li>
<% end %>
</ul>

<form action="/figures/<%= @figure.id %>/edit" method="get">
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="Edit Figure">
</form>